@charset"UTF-8";
.navy{color:#000080;}
.blue{color:0000ff#;}
.aqua{color:#ooffff;}
.green{color:#008000;}
.lime{color:#00ff00;}
.yellow{color:#ffff00;}
.red{color:#ff0000;}
.fuchsia{color:#ff00ff;}
.orange{color:#ffa500;}
.black{color:#000000;}
.gray{color:#808080;}
.silver{color:#c0c0c0;}
.gold{color:#ffd700;}
.white{color:#ffffff;}
.maroon{color:#800000;}
.oliive{color:#808000;}
.teakl{color:#008080;}
.purple{color:#800080;}
/*<class="カラーコード(rrggbb)">を入力すればその色になる*/